@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
}
/*Cores e estilos de fontes padrões
    $Poppins: 'Poppins', sans-serif;
    $Raleway: 'Raleway', sans-serif;
    bg_color: #080a21;
    $white: #fff;
    $cta: #0f7bf7;
*/
